.login{
  /* background-color: rgba(36, 44, 87, 0.096); */
  border: rgba(14, 15, 26, 0.87) solid 1px;
  width: 600px;
  height:303px ;
  margin-top: 11%;
  margin-bottom: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.loginForm{
  margin-right: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.loginicon{
  display: flex;
  justify-content: center;

}
.loginAdmin{
  background-color: rgba(14, 15, 26, 0.87);
}